.idea/B25ITK57_Airhockey.iml
.idea/B25ITK57_Airhockey.iml
.idea/B25ITK57_Airhockey.iml
.idea/misc.xml
.idea/B25ITK57_Airhockey.iml
.idea/misc.xml
airhocky_manual_ai_v31/__pycache__/main.cpython-312.pyc
